{
  "NodeID":"TestWormMQ",
  "MaxRetryCount": 10,
  "Logs": {
    "Handlers": [
      {"Type": "stderr", 
       "Level": "DEBUG"
      },
      {"Type": "file", 
       "Level": "INFO",
       "Filename": "info.log"
      },
      {"Type": "file", 
       "Level": "ERROR",
       "Filename": "error.log"
      },
      {"Type": "file", 
       "Level": "DEBUG",
       "Filename": "debug.log"
      }
    ]
    },
    "CallerInfo": true,
    "Logpath": "logs/client",
  "Links":[
    {
      "ID":"Client1",
      "Address":"127.0.0.1:12354",
      "Mode":"Client",
      "Interval": 30,
      "Persistent": True,
      "Login": "UserName",
      "Passcode": "123"
    }
  ]
}